.body {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
}
.body-history {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pangolin', cursive;
    margin-top: 2em;
    font-size: 26px;
}
.history-date {
    font-size: 22px;
    color: rgb(79 114 100);
}
.history-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    background-color:rgb(241, 240, 233);
    color: rgb(104, 116, 110);
    margin-bottom: 16px;
    width: 80%;
}
.history-table th {
    padding: 8px 0px 8px 16px;
}
.history-table td {
    padding: 8px 32px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.history-table-1 {
    background-color:rgb(185, 250, 230);
    display: flex;
    justify-content: space-between;
}
.history-table-2 {
    display: flex;
    justify-content: space-between;
}
.more-info-button {
    border: none;
    padding: 0px;
    background-color: inherit;
    cursor: pointer;
    padding-right: 16px;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    background-color:  rgb(76 188 192);
}

.swal2-styled.swal2-cancel {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    background-color: #a4db86;
}
.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    color: rgb(90 109 112);
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}
.swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    color: rgb(102 143 149);
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
}