.history-activity {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(185, 250, 230);
}
.history-activity h2 {
    margin-top: 32px;
    font-size: 26px;
    display: flex;
    justify-content: center;
}
.body-info {
    display: flex;
    align-items: center;
    margin-top: 8px;
    text-decoration: none;
    justify-content: center;
}
.body-info p {
    font-size: 22px;
    color: rgb(8, 42, 71);
    padding: 16px;
    display: flex;
    align-items: center;
}