#activity {
    font-family: 'Pangolin', cursive;
    font-size: 16px;
    width: 50%;
}
.ch-activity {
    display: flex;
    justify-content: space-between;
    width: 130%;
}
.body-form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pangolin', cursive;
    font-size: 24px;
}
.form {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    flex-direction: column;
    width: 50%;
}
.form-label {
    margin-top: 16px;
}
.form-label input {
    display: flex;
    margin-top: 8px;
    width: 130%;
    font-family: 'Pangolin', cursive;
}
.form-label textarea {
    margin-top: 8px;
    width: 130%;
    font-family: 'Pangolin', cursive;
}
.button-form {
    align-items: center;
    border: none;
    border-radius: 12px;
    background-color: rgb(170, 245, 220);
    width: 200px;
    height: 50px;
    margin: 48px;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    cursor: pointer;
  }
.description {
    height: 128px;
    text-align: top left;
}
